---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="Saman's Blog" seoTitle="Saman Shaiza's Blog, Web Engineer" seoDesc="Saman is a web developer with a year of experience">
    <div>
        <h1 class="text-5xl">Posts</h1>
        <img class="my-2 shadow-md drop-shadow-sm" src="/public/images/project1.jpg" width="300px" />
        <p></p>
    </div>
</MainLayout>