---
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/Blog/PostCard.astro"
---

<MainLayout title="Saman's Blog" seoTitle="Saman Shaiza's Blog, Web Engineer" seoDesc="Saman is a web developer with a year of experience">
    <div class="">
        <h1 class="text-5xl">Posts</h1>
        <PostCard url="/" title="First Post!!!" />
    </div>
</MainLayout>