---
import MainLayout from "../layouts/MainLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<MainLayout title={"Saman Shaiza"} seoTitle="Saman Shaiza's portfolio website" seoDesc="Frontend Developer">
	<div id="intro">
		<h1 class="pb-3 font-bold text-6xl md:text-8xl my-2 [text-shadow:_0_0_40px_rgb(255_255_255_/_10%)] bg-clip-text text-transparent bg-gradient-to-r from-indigo-400 via-red-200 to-indigo-400 background-animate ">Hi, my name is Saman...</h1>
		<section  class="md:min-h-[400px] lg:min-h-[700px]">
			<div id="typed-strings">
				<p>I am a <strong class="bg-clip-text text-transparent bg-gradient-to-r from-emerald-500 to-yellow-500 [text-shadow:_0_0_40px_rgb(255_255_255_/_20%)]">Software</strong> and <strong class="bg-clip-text text-transparent bg-gradient-to-r from-purple-500 to-teal-500 [text-shadow:_0_0_40px_rgb(255_255_255_/_20%)]">Web Developer</strong>...</p>
				<p>I made this website with <strong class="bg-clip-text text-transparent bg-gradient-to-r from-purple-600 to-orange-500 [text-shadow:_0_0_40px_rgb(255_255_255_/_20%)]">Astro</strong> and <strong class="bg-clip-text text-transparent bg-gradient-to-b from-sky-400 to-sky-200 [text-shadow:_0_0_40px_rgb(255_255_255_/_20%)]">Tailwind</strong>.</p>s
				<p>Outside of work I make music and learn programming.</p>
			</div>
			<div class="mt-6 mb-6 text-xl">
				<span id="typed"></span>
			</div>
			<div class="flex items-center text-center justify-center mt-64 hover:text-slate-300 transition duration-150">
				<a href="#about-me"><strong>About me!</strong></a>	
			</div>
		</section>
	</div>
	
	<section id="about-me" class="min-h-screen">
		<h1 class="pb-3 font-bold text-4xl md:text-8xl my-2 [text-shadow:_0_0_40px_rgb(255_255_255_/_10%)] bg-clip-text text-transparent bg-gradient-to-r from-indigo-400 via-red-200 to-indigo-400 background-animate ">About me</h1>
		<div class="gap-2 flex flex-col items-center justify-center">
			<div class="col-span-2">
				<p >Hello! My name is Saman and I love creating things on the internet. 
					My interest in software and web development started back in 2020 in high school. 
					I was barely able to put together a working website, but the experience led me to discover my new passion of web development. </p>
				<br />
				<div class="grid grid-cols-2">
					<div>
						<h3>Some technologies I love working with...</h3>
						<ul class="marker:text-blue-600 list-disc ps-5 space-y-2 text-md dark:text-gray-400">
							<li class="space-x-2 mt-1">TypeScript</li>
							<li class="space-x-2 mt-1">React</li>
							<li class="space-x-2 mt-1">Python</li>
							<li class="space-x-2 mt-1">C++</li>
							<li class="space-x-2 mt-1">Go</li>
						</ul>
					</div>
					<div>
						<h3>Some technologies I want to learn...</h3>
						<ul class="marker:text-orange-600 list-disc ps-5 space-y-2 text-md dark:text-gray-400">
							
							<li class="space-x-2 mt-1">MySQL</li>
							<li class="space-x-2 mt-1">Django</li>
							<li class="space-x-2 mt-1">PostgreSQL</li>
							<li class="space-x-2 mt-1">Ruby on Rails</li>
						</ul>
					</div>
				</div>
				
			</div>
			<!-- <div class="space-y-2 ">	
				<div class="group">
					<img class="w-full h-auto object-cover" src="/images/portrait2.jpeg" alt="my thinking face"/>
					<p class="absolute text-center -mt-5 opacity-0 group-hover:opacity-80">my thinking face</p>
				</div>
				<div class="group">
					<img class="w-full h-auto object-cover" src="/images/portrait3.jpeg" alt="my thinking face"/>
					<p class="absolute text-center -mt-5 opacity-0 group-hover:opacity-80">mfw theres a bug in da code</p>
				</div>
			</div> -->
		</div>
		
		
		<div class="flex items-center text-center justify-center mt-6 hover:text-slate-300 transition duration-150">
			<a href="#projects">check some of my <strong>projects!</strong></a>	
		</div>
	</section>
	<section id="projects" class="mt-12 mb-16 min-h-screen">
		<h1 class="pb-3 font-bold text-4xl md:text-8xl my-3 [text-shadow:_0_0_40px_rgb(255_255_255_/_10%)] bg-clip-text text-transparent bg-gradient-to-r from-indigo-400 via-red-200 to-indigo-400 background-animate ">Selected projects</h1>
		<ProjectCard url="/posts/pokemon-memory" title="Pokemon Memory" description="Pokemon Memory is a Pokemon memory game." imgUrl="/images/pokemon-memory.png" />
		<div class="flex items-center text-center justify-center mt-32 hover:text-slate-300 transition duration-150">
			<a href="#intro">back to the <strong>top!</strong></a>	
		</div>
	</section>
	
</MainLayout>

<style>
	.background-animate {
	  background-size: 200%;
	  -webkit-animation: background-pan 3s linear infinite;
	  -moz-animation: background-pan 3s linear infinite;
	  animation: background-pan 3s linear infinite;
	}
  
	@keyframes background-pan {
		from {
			background-position: 0% center;
		}
		to {
			background-position: -200% center;
		}
	}
</style>
<script>
	import Typed from "typed.js";
	
	var typed = new Typed('#typed', {
    stringsElement: '#typed-strings',
	typeSpeed: 50,
	loop: true,
	smartBackspace: false
  });
</script>