---
const { url, platform } = Astro.props;
---
<small class="inline-block items-center justify-center mb-1 mx-2">
    <a class="opacity-70 hover:opacity-100 transition duration-100" href={url}>{platform}</a>
</small>
