---
const {url, title} = Astro.props;
---
<li class="mt-6">
    <a href={url}>
        <img class="my-2 shadow-md drop-shadow-sm" src="/images/project1.jpg" alt="blog" width="300px" />
        <p>{title}</p>
    </a>
</li>

