---
import {Image} from "astro:assets";
const {url, title} = Astro.props;
---
<div class="mt-6">
    <img class="my-2 shadow-md drop-shadow-sm" src="/images/project1.jpg" alt="blog" width="300px" />
    <p>Hello!</p>
</div>

