---
import Footer from "../components/Footer.astro";
import MainHead from "./MainHead.astro";
import Nav from "../components/Nav.astro";
const {title, seoTitle, seoDesc} = Astro.props;
---
<html lang="en">
<MainHead title={title} seoTitle={seoTitle} seoDesc={seoDesc} />
<body class="mx-auto flex flex-col min-h-screen max-w-[872] md:w-9/12 p-3 text-white bg-bodyBg bg-cover">
    <Nav />
        <slot />
        <Footer />
        <style>
            html {
                scroll-behavior: smooth;
                
            }
            body {
                font-family: 'Space Mono', monospace;
                min-height: 100vh;
            }
        </style>
</body>
</html>