---
import Footer from "../components/Footer.astro";
import MainHead from "./MainHead.astro";
import Nav from "../components/Nav.astro";
const {title, seoTitle, seoDesc} = Astro.props;
---
<html lang="en">
<MainHead title={title} seoTitle={seoTitle} seoDesc={seoDesc} />
<body class="mx-auto flex flex-col min-h-screen max-w-[872] md:w-6/12 bg-cover bg-gradient-to-br from-slate-900 to-slate-800 text-white">
    <Nav />

        <slot />
        <Footer />
        <style>
            body {
                font-family: 'Space Mono', monospace;
                min-height: 100vh;
            }
        </style>
</body>
</html>